<nav class="main__navigation">
  <div class="navigation__buttons">
    <button class="arrow-left">
      <img src="../../assets/icons/small-left.png" alt="Seta para a esquerda">
    </button>
    <button class="arrow-right">
      <img src="../../assets/icons/small-right.png" alt="Seta para a direita">
    </button>
    <div class="navigation__search">
      <img src="../../assets/icons/search.png" alt="">
      <input id="search-input" type="text" placeholder="O que você quer ouvir?" maxlength="800">
    </div>
  </div>
  <div class="navigation__login">
    <button class="subscribe">Inscreva-se</button>
    <button class="login">Entrar</button>
  </div>
</nav>
