<header class="cabecalho">
  <nav class="navbar">
    <div>
      <a class="img-link" href="#">
        <img class="navbar-img" src="../../assets/icons/logo-spotify.png" alt="Logo Spotify">
      </a>
    </div>
    <ul class="navbar-lista">
      <li class="navbar-item">
        <a class="item-link" href="#">
          <span><i class="fa-solid fa-house fa-lg text-sub"></i></span>
          <span class="text-sub nav-title">Início</span>
        </a>
      </li>
      <li class="navbar-item">
        <a class="item-link" href="#">
          <span><i class="fa-solid fa-magnifying-glass fa-lg text-sub"></i></span>
          <span class="text-sub nav-title">Buscar</span>
        </a>
      </li>
    </ul>
  </nav>
  <app-aside></app-aside>
</header>
