<header class="header">
  <nav class="navbar">
    <div>
      <a class="navbar__img__link" href="#">
        <img class="navbar__img" src="../../assets/icons/logo-spotify.png" alt="Logo Spotify">
      </a>
    </div>
    <ul class="navbar__list">
      <li class="navbar__list__item">
        <a class="list__item__link" href="#">
          <span><i class="fa-solid fa-house fa-lg text-sub"></i></span>
          <span class="text-sub list__item__title">Início</span>
        </a>
      </li>
      <li class="navbar__list__item">
        <a class="list__item__link" href="#">
          <span><i class="fa-solid fa-magnifying-glass fa-lg text-sub"></i></span>
          <span class="text-sub list__item__title">Buscar</span>
        </a>
      </li>
    </ul>
  </nav>
  <app-aside></app-aside>
</header>
