.cabecalho
{
  position: fixed;
  top: 0.5rem;
  bottom: 0;
  width: 19rem;
  display:flex;
  flex-direction: column;
}

.navbar
{
  background-color: var(--bg-color-base);
  border-radius: 0.5rem;
  padding: 1.5rem .75rem 0.5rem 0.75rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.img-link
{
  padding: 0 .75rem;
}

.navbar-img
{
  width: 4.875rem;
  height: 1.5rem;
  filter: brightness(0) saturate(100%) invert(96%) sepia(91%) saturate(6659%) hue-rotate(302deg) brightness(95%) contrast(103%);
}

.navbar-item
{
  padding: .25rem .75rem;
}

.item-link
{
  padding: .5rem 0;
  display: flex;
  justify-content: left;
  gap: 1rem;
}

.nav-title
{
  font-weight: var(--font-bold);
  line-height: 1.5rem;

}
