<section class="library">
  <div class="library__title">
    <a
      href="#"
      title="Ocultar sua biblioteca"
      class="text-sub library__title__link"
    >
      <span><i class="fa-solid fa-chart-simple fa-xl text-sub"></i></span>
      Sua Biblioteca
    </a>
    <a href="#" title="Criar playlist ou pasta" class="library__title__add">
      <span><i class="fa-solid fa-plus fa-lg text-sub"></i></span>
    </a>
  </div>
  <div class="library__content">
    <section class="library__content__button">
      <div>
        <h2>Crie sua primeira playlist</h2>
        <p>É facil, vamos te ajudar.</p>
      </div>
      <button>Criar playlist</button>
    </section>
    <section class="library__content__button">
      <div>
        <h2>Que tal seguir um podcast novo?</h2>
        <p>Avisaremos você sobre novos episódios.</p>
      </div>
      <button>Explore podcasts</button>
    </section>
  </div>
  <div class="legal-info">
    <ul class="legal-info__list">
      <li><a href="#">Legal</a></li>
      <li><a href="#">Centro de Privacidade</a></li>
      <li><a href="#">Política de privacidade</a></li>
      <li><a href="#">Cookies</a></li>
      <li><a href="#">Sobre anúncios</a></li>
      <li><a href="#">Acessibilidade</a></li>
      <li><a href="#">Notice at Collection</a></li>
      <li><a href="#">Definições de cookies</a></li>
    </ul>
    <button>
      <i class="fa-solid fa-globe text-base"></i>
      Português do Brasil
    </button>
  </div>
</section>
