.header {
  position: fixed;
  top: 0.5rem;
  bottom: 5.25rem;
  width: 19rem;
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: var(--bg-color-base);
  border-radius: 0.5rem;
  padding: 1.5rem 0.75rem 0.5rem 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.navbar__img__link {
  padding: 0 0.75rem;
}

.navbar__img {
  width: 4.875rem;
  height: 1.5rem;
  filter: var(--filter-color-base);
}

.navbar__list__item {
  padding: 0.25rem 0.75rem;
}

.list__item__link {
  padding: 0.5rem 0;
  display: flex;
  justify-content: left;
  gap: 1rem;
}

.list__item__link:hover > span,
.list__item__link:hover > span i {
  transition: color, 1s, ease-in-out, 0.5s;
  color: var(--text-color-base);
}

.list__item__title {
  font-weight: var(--font-bold);
  line-height: 1.5rem;
}
