.main__navigation {
  position: fixed;
  right: 0.5rem;
  top: 0.5rem;
  left: 20rem;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: var(--bg-color-underbase);
  border-radius: 1rem 1rem 0 0;
}

.navigation__buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 77%;
}

.arrow-left,
.arrow-right {
  transform: scale(90%);
  height: 2.5rem;
  padding: 0.18rem 0.4rem 0 0.4rem;
  background-color: var(--bg-color);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.arrow-left img {
  filter: var(--filter-color-base);
}

.arrow-right img {
  filter: var(--filter-color-dull);
}

.navigation__search {
  display: flex;
  align-items: center;
  padding: .6rem 2rem;
  background-color: var(--bg-color-subbase);
  border:  2px solid var(--bg-color-subbase);
  border-radius: 9999px;
  width: 45%;
  min-width: 15rem;
}

.navigation__search img {
  transform: scale(70%);
  filter: var(--filter-color-base);
}

.navigation__search input {
  background-color: transparent;
  border: none;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  outline: none;
}

.navigation__search:has(input:focus) {
  border: 2px solid var(--text-color-base);
}

.navigation__search input::placeholder {
  color: var(--text-color-placeholder);
  font-size: 0.75rem;
  font-weight: var(--font-bold);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0 30px var(--bg-color-subbase) inset !important;
  border: none;
  box-shadow: none;
  background-color: var(--bg-color-subbase);
}

.navigation__login {
  display: flex;
  gap: 1rem;
}

.login,
.subscribe {
  cursor: pointer;
  transition: all .4s ease 0;
}

.subscribe {
  background-color: transparent;
  color: var(--text-color-subbase);
  width: max-content;
}

.subscribe:hover {
  transform: scale(105%);
  color: var(--text-color-base);
}

.login {
  border: none;
  border-radius: 9999px;
  background-color: var(--text-color-base);
  color: var(--bg-color-underbase);
  padding: .5rem 2rem;
}

.login:hover {
  transform: scale(105%);
}

.main-container {
  position: fixed;
  top: 4.5rem;
  right: 0.5rem;
  bottom: 6rem;
  left: 20rem;
  background-color: var(--bg-color-subbase);
  border-radius: 0 0 0.5rem 0.5rem;
  padding: 1.5rem;
}

.main__heading {
  padding: 1rem 0;
}

.main__title,
.main__subtitle {
  font-weight: var(--font-bold);
  font-size: 1.5rem;
  line-height: 1.5rem;
  padding-bottom: .5rem;
  color: var(--bg-color);
}

.main__cards {
  overflow-y: auto;
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0 0.25rem;
}

.main__cards::-webkit-scrollbar {
  display: none;
}

app-card {
  height: 14rem;
  width: 14rem;
  border-radius: 0.5rem;
  overflow: hidden;
}
