<section class="biblioteca">
  <div class="biblioteca-titulo">
    <a href="#" title="Ocultar sua biblioteca" class="text-sub titulo-link">
      <span><i class="fa-solid fa-chart-simple fa-xl text-sub"></i></span>
      Sua Biblioteca
    </a>
    <a href="#" title="Criar playlist ou pasta">
      <span><i class="fa-solid fa-plus fa-lg text-sub"></i></span>
    </a>
  </div>
  <div class="biblioteca-botoes">
    <div class="biblioteca-botao">
      <div>
        <h2>Crie sua primeira playlist</h2>
        <p>É facil, vamos te ajudar.</p>
      </div>
      <button>Criar playlist</button>
    </div>
    <div class="biblioteca-botao">
      <div>
        <h2>Que tal seguir um podcast novo?</h2>
        <p>Avisaremos você sobre novos episódios.</p>
      </div>
      <button>Explore podcasts</button>
    </div>
  </div>
  <div class="legal-info">
    <ul class="legal-list">
      <li><a href="#">Legal</a></li>
      <li><a href="#">Centro de Privacidade</a></li>
      <li><a href="#">Política de privacidade</a></li>
      <li><a href="#">Cookies</a></li>
      <li><a href="#">Sobre anúncios</a></li>
      <li><a href="#">Acessibilidade</a></li>
      <li><a href="#">Notice at Collection</a></li>
      <li><a href="#">Definições de cookies</a></li>
    </ul>
    <button>
      <i class="fa-solid fa-globe text-base"></i>
      Português do Brasil
    </button>
  </div>
</section>
