<div class="biblioteca">
  <h1 class="biblioteca-titulo text-base">
    <span><i class="fa-solid fa-chart-simple"></i></span>
    Biblioteca
  </h1>
  <div class="biblioteca-playlist">
    <h2>Crie sua primeira playlist</h2>
    <p>É facil, vamos te ajudar</p>
    <button>Criar plailist</button>
  </div>
  <div class="biblioteca-podcast">
    <h2>Que tal seguir um podcast novo?</h2>
    <p>Avisaremos você sonre novos episódios</p>
    <button>Explore podcasts</button>
  </div>
  <div class="legal-info">
    <ul>
      <li>Legal</li>
      <li>Centro de Privacidade</li>
      <li>Política de privacidade</li>
      <li>Cookies</li>
      <li>Sobre anúncios</li>
      <li>Acessibilidade</li>
      <li>Notice at Collection</li>
      <li>Definições de cookies</li>
    </ul>
  </div>
</div>
