<nav class="main__navigation">
  <div class="navigation__buttons">
    <button class="arrow-left">
      <img src="../../assets/icons/small-left.png" alt="Seta para a esquerda">
    </button>
    <button class="arrow-right">
      <img src="../../assets/icons/small-right.png" alt="Seta para a direita">
    </button>
    <div class="navigation__search">
      <img src="../../assets/icons/search.png" alt="">
      <input id="search-input" class="filtroBusca" type="search" placeholder="O que você quer ouvir?" maxlength="800" [(ngModel)]="filtroBusca" (keyup)="buscarArtista()">
    </div>
  </div>
  <div class="navigation__login">
    <button class="subscribe">Inscreva-se</button>
    <button class="login">Entrar</button>
  </div>
</nav>
<div class="main-container">
  <section class="main-container">
    <div class="main__heading">
      <h2 class="main__title">
        Bom dia!
      </h2>
      <h3 class="main__subtitle">
        Navegar por todas as seções
      </h3>
    </div>
    <section class="main__cards" *ngIf="artistList.length <= 0; else resultadosBusca">
        <app-card *ngFor="let card of cardList" [card]="card" [style.background-color]="card.color" ></app-card>
    </section>
  </section>
</div>
<ng-template #resultadosBusca>
  <section class="main__artists">
    <app-artist-cards *ngFor="let artist of artistList" [artist]="artist"></app-artist-cards>
  </section>
</ng-template>
