@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&display=swap');
@import url(./reset.css);

:root
{
  --bg-color: #2D3250;
  --bg-color-base: #424769;
  --bg-color-subbase: #7077A1;
  --text-color-base: #F6B17A;
  --text-color-subbase: #F5C39F;
  --font-family: 'Comfortaa', sans-serif;
  --font-bold: 700;
  --font-medium: 500;
  --font-regular: 400;

  font-family: var(--font-family);
  font-weight: var(--font-regular);
}

.text-base
{
  color: var(--text-color-base);
  font-weight: var(--font-bold);
}

.text-sub
{
  color: var(--text-color-subbase);
}
